
# === Environment & secrets ===
.env
*.env

# === Python ===
__pycache__/
*.pyc
.venv/
.env/
venv/
.ipynb_checkpoints/

# === Data files ===
data/*.csv
data/*.zip
data/*.json
data/raw/
data/processed/

# === System / Editor ===
.DS_Store
.vscode/
.idea/

# === Docker ===
*.log
docker-compose.yml
