# Ignore local environment and config
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

# Ignore OS junk files
.DS_Store

docker-compose.yml

porto.csv